#james{
  background-image: url("teamRocket/library/images/james.jpeg");
}

#jessie{
  background-image: url("teamRocket/library/images/jessie.jpeg");

}

#giovanni{
  background-image: url("teamRocket/library/images/giovanni.jpeg");

}

.trainerName{

}
